/* --- Global Styles --- */
* {
    all: unset;
    font-family: 'BlexMono Nerd Font';
    font-size: 18px;
}

#waybar {
    background: transparent;
    font-weight: 500;
}

#workspaces {
    border: 1px solid rgba(255,255,255,0.5);
    margin: 5px 30px 0px;
    background-color: #000000;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#workspaces button {
    padding: 0.3rem 0.6rem;
    background: transparent;
}

#workspaces button.active {
    font-weight: bold;
}

#custom-music {
    border: 1px solid rgba(255,255,255,0.5);
    margin: 5px 10px 0px;
    color: #ffffff;
    background-color: #000000;
    padding: 0.3rem 0.7rem;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    min-width: 0;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#clock {
    border: 1px solid rgba(255,255,255,0.5);
    margin: 5px 30px 0px;
    color: #ffffff;
    background-color: #000000;
    padding: 0.3rem 0.7rem;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    min-width: 0;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
